main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areacontainer {
    width: 50vw;
    margin: 1rem 0;
    max-width: var(--fixed-width);
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2rem 2rem;
    box-shadow: var(--dark-shadow);
    overflow-y: auto;

    /* Add vertical scroll */
}

.areacontainer h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 2rem;
}

.areaperson {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.areaperson img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
}

.areaperson h4 {
    margin-bottom: 0.35rem;
}

.areaperson p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.areacontainer button {
    color: var(--clr-white);
    display: block;
    width: 100%;
    border-color: transparent;
    background: var(--clr-red-dark);
    margin: 1rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.5rem 0;
    letter-spacing: var(--spacing);
    border-radius: 6px;
    cursor: pointer;
}