@import url('https://fonts.googleapis.com/css2?family=Karla&Fira+Sans&family=Poppins&display=swap');

.main {
    font-family: 'Karla', sans-serif;
    height: 100vh;

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    /* display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
    align-items: center;
    height: 600px;
    width: 500px; */
}

/* .wrapper:hover {
    box-shadow: var(--dark-shadow);
} */

.container {
    /* padding: 3rem;
    text-align: center; */
    max-width: 30rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
    width: 90vw;
    height: 500px;
    margin: 10 auto;
    align-items: center;
}

.container:hover {
    box-shadow: var(--dark-shadow);
}



.form {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 350px;
    height: 300px;

}

.formInput {
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom: 10px;
    padding: 10px;
}

.formSubmit {
    border-radius: 5px;
    background-color: #cd3240;
    border: 2px solid transparent;
    color: #fff;
    padding: 8px;
    width: 330px;
    align-self: flex-end;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.form input[type="radio"] {
    margin-right: 10px;
}

.otpimg {
    width: 120px;
    padding: 5px;
}

.formSelect {
    width: 380px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom: 5px;
    padding: 10px;
}

.multipleButtons {
    padding: 10px;
    align-self: flex-end;
}

.multipleButton {
    border-radius: 5px;
    background-color: #cd3240;
    border: 2px solid transparent;
    color: #fff;
    margin-right: 5px;
    /* border-radius: 5px; */
    padding: 8px;
    /*border-style: solid;
     border-color: #03045e; */
    width: 100px;

}

.done {
    width: 65px;
    margin-bottom: 10px;
}

.doneSubmit {
    margin-top: 10px;
    border-radius: 5px;
    color: #03045e;
    padding: 8px;
    border-style: solid;
    border-color: #03045e;
    width: 85px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Increase the margin to create more space */
}

.radio-group {
    display: flex;
    flex-direction: row;
    /* Display the radio buttons horizontally */
    flex-wrap: wrap;
    /* Wrap to the next line if the container is too narrow */
}

.radio-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Add spacing between radio buttons */
}

.back-button {
    background: var(--clr-primary-1);
    color: var(--clr-white);
    /* Use the appropriate text color */
    border: none;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;

}

/* Change color on hover to match your theme */
.back-button:hover {
    background: var(--clr-primary-5);
}